@{
    ViewData["Title"] = "Saiba mais!";
}

<div class="text-center">
    <h1 class="display-4">Prazer ter você aqui!</h1>
    <p style="text-align:left;">Se você chegou até aqui é por que temos um assunto em comum e provavelmente, tornar o acesso aos sistemas da web, inclusivo faz parte do seu desafio como programador ou cliente.</p>
    <p style="text-align:left;">Vamos ao que interessa, nesta plataforma é possível visualizar o relatório esportado pelo nosso serviço gratuitamente, além de possibilitar a contribuição com a ferramenta.</p>
</div>
